<%= form_with(model: @task, local: true) do |form| %>
<p><%= notice %></p>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <p class="error"><%= @task.errors.count %>件のエラーがあります。</p>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :ラベル %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :label_name) %>
  </div>
  <table>
  <tr>
    <div class="field">
      <th><%= form.label :title %></th>
      <td><%= form.text_field :title %><td>
    </div>

    <div class="field">
      <th><%= form.label :content %><th>
      <td><%= form.text_field :content %><td>
    </div>
  
    <div class="field">
      <th><%= form.label :expired_at %><th>
      <td><%= form.text_field :expired_at %><td>
    </div>
 
    <div class="field">
      <th><%= form.label :status %><th>
      <td><%= form.select :status, Task.statuses.keys.to_a, {} %><td>
    </div>
    <div class="field">
      <th><%= form.label :priority %><th>
      <td><%= form.select :priority, Task.priorities.keys.to_a, {} %><td>
    </div>
  </tr>
  </table>
  

  <tr>
    <div class="actions" >
      <td> <%= form.submit%></td>
    </div>
  </tr>

  <div class="actions">
    <%= link_to "一覧画面にもどる", tasks_path, class:'btn btn-outline-primary'%>
  </div>
<% end %>

 