<h1><%= t('helpers.link.overview') %></h1>
<p><%= notice %></p>


<table>
  <tr>
    <th><%= t('heading.title') %></th>
    <th><%= t('heading.content') %></th>
  <tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>

    <td><%= link_to t('helpers.link.detail'),task_path(task.id) %></td>
    <td><%= link_to t('helpers.link.new'), new_task_path %></td>
    <td><%= link_to t('helpers.link.edit'),edit_task_path(task.id) %></td>
    <td><%= link_to t('helpers.link.delete'), task_path(task.id), method: :delete %></td>
  </tr>
<% end %>
</table>