<h1><%= t('helpers.link.do_detail') %> </h1>
<p><%= t('heading.title') %>  <%= @task.title %></p>
<p><%= t('heading.content') %><%=@task.content %></p>
<p><%= t('heading.content') %><%=@task.content %></p>
  <% @task.labels.each do |label| %>
     <p>関連タグ<%=label.label_name %></p>
  <% end %>
<%= link_to t('shared.links.task_back'), tasks_path %>