
<%= form_with(model: @user, local: true) do |f| %>
  <br>
		<p class="center-contents col-md-10"><%= f.label "名前" %></p>
    <p class="center-contents col-md-10"><%= f.text_field :name, id: 'name' %></p>
    <p class="center-contents col-md-10"><%= f.label "メールアドレス" %></p>
    <p class="center-contents col-md-10"><%= f.email_field :email, id: 'email' %></p>
    <p class="center-contents col-md-10"><%= f.label "パスワード" %></p>
    <p class="center-contents col-md-10"><%= f.password_field :password, id: 'password' %></p>
    <p class="center-contents col-md-10"><%= f.label "パスワード確認" %></p>
    <p class="center-contents col-md-10"><%= f.password_field :password_confirmation, id: 'password_confirmation' %></p>
    <p class="center-contents col-md-10"><%= f.label "権限" %></p>
    <p class="center-contents col-md-10"><%= f.select :admin, User.admins.keys, {}, {id: 'user_admin'} %> </p>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%=flash[:notice]%>
<% end %>
