<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
  <i class="fa-solid fa-people-group"></i>
   
     <%= t('helpers.link.user_overview') %>
  </a>
</nav>
<table>
  <%= flash[:notice] %>
  <% @users.each do |user| %>
    <tr>
      <td>ユーザー名:
        <%= user.name %>
      </td>
      <td>タスク数:
        <%=user.tasks.pluck(:title).size%>
      </td>
      <td>
        <%= button_to '詳細', admin_user_path(user.id), method: :get, class: 'btn btn-outline-primary',data: { confirm: '詳細を表示します' }%>
      </td>
      <td>
        <%= button_to '編集 ', edit_admin_user_path(user.id) ,method: :get,class: 'btn btn-outline-success',data: { confirm: '編集しますか？' } %>
      </td> 
      <td>
        <%= button_to 'ユーザー削除', user_path(user.id), method: :delete, remote: true,class: 'btn btn-outline-danger'%>
      </td>
    </tr>
  <% end %>
</table>
  <%= link_to 'タスク一覧へ', tasks_path,class:'btn btn-outline-primary' %>